<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shopping.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shopping.price %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @shopping.imgurl %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shopping.description %>
</p>

<%= link_to 'Edit', edit_shopping_path(@shopping) %> |
<%= link_to 'Back', shoppings_path %>
